@import url(styles/header.css);

:root{
    --cor-de-fundo:#0e7de6;
    





    

    background: linear-gradient(97.54deg, #0O2F52 35.49%, #326589 165.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparente;
    background-clip:text;
    text-transform: uppercase;
}

body{
    background-color: #ffffff;

}

h1{
background-color: #000000;



}
